In [1]:
print("heel")

heel

In [2]:
a=10;
type(a)

int

In [3]:
print(a)

10

In [4]:
print("a")

a

In [7]:
c="ritesh"
type(c)

str

In [8]:
a+10

20

In [9]:
a*10

100

In [10]:
print(type(a))

<class 'int'>

In [11]:
#flaotting
a=190.5
print(type(a))

<class 'float'>

In [12]:
int(a)

190

In [13]:
float(a)

190.5

In [15]:
c=10

In [16]:
float(c)

10.0

In [24]:
#boolean
a1= True
type(a1)

bool

In [29]:
a1= True

In [30]:
b1=False

In [36]:
#string
name1="ritesh"
print(name1)

ritesh

In [37]:
print(type(name1))

<class 'str'>

In [41]:
#concalenation opertaion
name1 + ' bhadana'

'ritesh bhadana'

In [43]:
name1 + str(2)

'ritesh2'

In [49]:
#complex
j=1.0-2.3j
j

(1-2.3j)

In [54]:
#dynamic typing
a =10;
a='ritesh'
a=2
a

2

In [56]:
#strong typing
a="krish"
a+'1'

'krish1'

In [57]:
#strong formatting
a=100
print("the value is - ",a)

the value is -  100

In [70]:
first_name="ritesh"
last_name="bhadana"
print("The first name is {} and last name is {}".format(first_name,last_name))

The first name is ritesh and last name is bhadana

In [72]:
#input type
input("ritesh pl. enter some thing ")

ritesh pl. enter some thing  bhadana

'bhadana'

In [73]:
a=input("enter the number A")
b=input("enter the number B")

enter the number A ritesh
enter the number B bhadana

In [74]:
print (a+b)

ritesh bhadana

In [1]:
print("heel")

heel

In [5]:
c=input("enter the first number C")
d=input("enter the second number D")
print(int(c)+int(d))

enter the first number C 34
enter the second number D 6

40

In [36]:
val=input("Entter the value")
value_float=float(val)
print(value_float)
if(value_float>200):
    print("yes:=")
else:
    print("no")

Entter the value 34

34.0
no

In [40]:
#if statement
val=input("enter the number")
value_float=float(val)
if(value_float>100):
    print("int")

enter the number 556

int

In [23]:
val=input("enter the value")
value=int(val)
if(value<50):
    print("less")
else:
    print("ggrater")

enter the value 4

less

In [32]:
#if statement 
val=input("enter the number")
value_float=float(val)
if(value_float%2==0):
    print("the number is even")
else:
    print("odd")

enter the number 59

odd

In [44]:
#if else statement
val= input("enter the value")
value_float=float(val)
if(value_float%2==0):
    print("the number is eben")
else:
    print("the number is odd")

enter the value 34

the number is eben

In [47]:
#age form
age=float(input("enter the number"))
if(age<18):
    print("minor age")
elif(age>=18 and age<=45):
    print("mid age")
elif(age<=45 and age<=50):
    print("senior mid age")
else:
    print("senior citizen")

enter the number 78

senior citizen

In [45]:
for x in range (0,6):
    for y in range(0,x):
        print(x,end=" ")
        print(" ")

1
2
2
3
3
3
4
4
4
4
5
5
5
5
5

In [54]:
#loop statement  
#for loop, while loop
lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i**4)

1
16
81
256
625
1296
2401

In [58]:
#find the sum of all the element in the list
lst=[1,2,3,4,5,6,7]
sum1=0
for i in lst:
    sum1=sum1+i
print(sum1)

28

In [1]:
#find the sum of even and odd numbers
lst=[1,2,3,4,5,6,7,8,9,0]
even_sum=0
odd_sum=0
for i in lst:
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print("the even sum is {}".format(even_sum))
print("the odd sum is {}".format(odd_sum))

the even sum is 20
the odd sum is 25

In [ ]:
#while condition
i=10
even_sum=0
odd_sum=0
while(i<=10):
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
        i=i+1

print(even_sum, odd_sum)

In [17]:
lst=[1,2,3,4,5,6,7,8,9,10]
i=0
even_sum=0
odd_sum=0
while(i<=10):

    for i in lst:
        if(i%2==0):
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
        i= i+1
print(even_sum, odd_sum)

30 25

In [2]:
print('ritesh')

ritesh

In [4]:
a=input("what is ur name")
print("ur name is {}".format(a))

what is ur name ritesh

ur name is ritesh

In [8]:
#break
x=1
while(x<7):
    print(x)
    if x==4:
        break
    x=x+1

1
2
3
4

In [1]:
x=1
while(x<9):
    if x==7:
        break
    print(4)
    x=x+1

4
4
4
4
4
4

In [5]:
#continue
x=0
while(x<7):
    x=x+1
    if x==4 or x==5 or x==6:
        continue
    print(x)

1
2
3
7

In [1]:
 #tutoial:-4
a="ritesh"
b="bhadana"
a==b

False

In [10]:
age=int(input("enter the age"))
if age <= 18:
        print("u r a 3ager")

enter the age 7

u r a 3ager

In [12]:
a="ritesh"
b="ritesh"
print(id(a))
print(id(b))

1488570153072
1488570153072

In [13]:
a is b

True

In [14]:
lst=[1,2,3,4]
lst1=[1,2,3,4]
print(id(lst))
print(id(lst1))

1488570202944
1488553065408

In [26]:
#comparisom operator
marks=float(input("enter the mark"))
if marks>=35 :
    print("pass")
if marks >=50 and marks <=70:
    print("first")
elif marks<35:
    print("fail")

enter the mark 51

pass
first

In [28]:
abs(5)

5

In [29]:
abs(-56)

56

In [30]:
abs(9.4)

9.4

In [31]:
abs(6/2)

3.0

In [32]:
abs(3.4*3)

10.2

In [36]:
import math
math.ceil(3.1)

4

In [37]:
math.ceil(-4.2)

-4

In [38]:
math.ceil(-3.9)

-3

In [39]:
math.floor(5.9)

5

In [40]:
math.floor(-4.1)

-5

In [41]:
 math.exp(2)

7.38905609893065

In [43]:
math.fabs(10)

10.0

In [44]:
math.log(10)

2.302585092994046

In [45]:
math.pow(5,3)

125.0

In [46]:
math.hypot(24,25)

34.655446902326915

In [47]:
math.hypot(2,3)

3.605551275463989

In [48]:
math.hypot(1,1)

1.4142135623730951

In [63]:
x=11
n=int(input("enter the number"))
     if n>=1:
print("not a prime") 
for x in n:
    if(x%i)==0: 
print("not prime")
    elif: 
print("  prime")

IndentationError: unexpected indent (3993555102.py, line 3)

In [69]:
num=11
if num>1:
    for i in range(2,(num//2)+1):
        if(num%i)==0:
            print(num, "is no prime")
            break
    else:
        print(num,"is prime")
else:
    print(num,"is not a prime")

11 is prime

In [75]:
 
def max_of_two(x, y):
     
    if x > y:
         
        return x
    
    return y

 
def max_of_three(x, y, z):
   
    return max_of_two(x, max_of_two(y, z))

 
print(max_of_three(3, 6, 7))

7

In [76]:
#tutorial :- 6

In [77]:
print(True,False)

True False

In [79]:
print(type(True))

<class 'bool'>

In [80]:
#mutable vs immutable
str1="ritesh"
print(str1)
type(str1)

ritesh

str

In [81]:
str1="ritesh"
print(str1)

ritesh

In [84]:
 
str1[2]

't'

In [86]:
str1[2]="kl"
#string are immutable

TypeError: 'str' object does not support item assignment

In [87]:
##mutable
lst=[1,2,3,4,"ritesh", "hello"]
print(lst)

[1, 2, 3, 4, 'ritesh', 'hello']

In [90]:
lst=[1,2,3,4,"ritesh", "hello"]
print(lst)
lst[4]="ritesh"
print(lst[4])

[1, 2, 3, 4, 'ritesh', 'hello']
ritesh

In [92]:
lst=list((1,2,3,4,5))
type(lst)
print(lst)

[1, 2, 3, 4, 5]

In [93]:
lst=[1,2,3,4,5]
for i in lst:
    print(i**2)

1
4
9
16
25

In [98]:
lst=[2,3,55,-1,-59,5]
min(lst)
max(lst)

-59

In [103]:
#append
lst.append("ritesh")

lst
#every time run the code the  update will continue

[2, 3, 55, -1, -59, 5, 'ritesh', 'ritesh', 'ritesh', 'ritesh']

In [105]:
lst.append(["bhadana, anangpur"])
lst

[2,
 3,
 55,
 -1,
 -59,
 5,
 'ritesh',
 'ritesh',
 'ritesh',
 'ritesh',
 ['bhadana, anangpur'],
 ['bhadana, anangpur']]

In [106]:
#indexing in list
lst[6]

'ritesh'

In [109]:
lst[11]

['bhadana, anangpur']

In [110]:
#insert in specific order
lst.insert(2,"aarav")
lst

[2,
 3,
 'aarav',
 55,
 -1,
 -59,
 5,
 'ritesh',
 'ritesh',
 'ritesh',
 'ritesh',
 ['bhadana, anangpur'],
 ['bhadana, anangpur']]

In [114]:
#extend method
lst=[1,2,3,4,5,6]
lst.append([7,8])
lst

[1, 2, 3, 4, 5, 6, [7, 8]]

In [115]:
lst

[1, 2, 3, 4, 5, 6, [7, 8]]

In [117]:
lst.extend([7,8])
lst

[1, 2, 3, 4, 5, 6, [7, 8], 7, 8, 7, 8]

In [118]:
lst

[1, 2, 3, 4, 5, 6, [7, 8], 7, 8, 7, 8]

In [120]:
lst=[1,2,3,4,5]
lst.extend([7,8])
lst

[1, 2, 3, 4, 5, 7, 8]

In [123]:

#various operation that we can perform in list
sum(lst)

30

In [124]:
lst*5

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 1,
 2,
 3,
 4,
 5,
 7,
 8]

In [127]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0
1.4
1.6

In [128]:
#pop method
lst.pop()
5
lst

[1, 2, 3, 4, 5, 7]

In [129]:
lst.pop()
5
lst

[1, 2, 3, 4, 5]

In [132]:
lst=[1,2,1,1,3,1,4]
lst.count(1)

4

In [135]:
#length : calculate the total length of list
len(lst)

7

In [136]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [137]:
set_var={1,2,3,4}
set_var

{1, 2, 3, 4}

In [138]:
set_var={"Avengers", "IronMan", "Hitman"}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [141]:
#inbuilt funition in sets
set_var.add("hulk")
set_var

{'Avengers', 'Hitman', 'IronMan', 'hulk'}

In [142]:
set1={"avgeners", "ironman", "hitman"}
set2={"avgeners", "ironman", "hitman", "hulk"}
set2.intersection_update(set1)
set2

{'avgeners', 'hitman', 'ironman'}

In [146]:
#differnce
set2.difference(set1)
{"hulk"}

{'hulk'}

In [147]:
#dictionaries
set_ex={1,2,3,4,5}
type(set_ex)

set

In [154]:
my_dic={"car1":"audi", "car2":"bmw","car3":"mb"}
my_dic["car1"]

'audi'

In [149]:
for x in my_dic:
    print(x)

car1
car2
car3

In [150]:
for x in my_dic.values():
    print(x)

audi
bmw
mb

In [151]:
for x in my_dic.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'mb')

In [155]:
#adding in dictionaries
my_dic["car4"]="audi 2.0"
my_dic

{'car1': 'audi', 'car2': 'bmw', 'car3': 'mb', 'car4': 'audi 2.0'}

In [165]:
#nested dictionnary
car1_model={'m':1960}
car2_model={'audi':1970}
car3_model={'a':1980}

#print(car3_model.items())
car_type={'car1': car1_model, 'car2':car2_model, 'car3':car3_model}
print(car_type)

{'car1': {'m': 1960}, 'car2': {'audi': 1970}, 'car3': {'a': 1980}}

In [187]:
#accesint the item in dictionary
print(car_type['car1'])

{'m': 1960}

In [186]:
car_type['car1']['m'])

SyntaxError: unmatched ')' (3375979808.py, line 1)

In [174]:
#tuples
#creating an empty tuples
my_tuple=tuple()
print(type(my_tuple))

<class 'tuple'>

In [184]:
my_tuple1=("Ritesh", "Prerak","Parveen")
my_tuple=("hello","world")
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('hello', 'world')

In [181]:
#inbuilt fun^n in tuple
my_tuple.count("Prerak")

0

In [190]:
 my_tuple1.index("Parveen")

2

In [185]:
for x in my_tuple1:
    print(x)

Ritesh
Prerak
Parveen

In [191]:
my_tuple.index("world")

1

In [198]:
#tutoial 8 numpy & array

In [3]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (1.26.4)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
lst=[1,2,3,4]
arr=np.array(lst)
type(arr)

numpy.ndarray

In [6]:
arr.shape

(4,)

In [7]:
lst1=[1,2,3,4,5]
lst2=[2,3,4,5,6]
lst3=[3,4,5,6,7]
arr1=np.array([lst1,lst2,lst3])
arr1

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [3, 4, 5, 6, 7]])

In [8]:
arr1.shape

(3, 5)

In [10]:
arr1.reshape(5,3)

array([[1, 2, 3],
       [4, 5, 2],
       [3, 4, 5],
       [6, 3, 4],
       [5, 6, 7]])

In [12]:
#indexing
arr[3]

4

In [14]:
arr[3]=5
arr

array([1, 2, 3, 5])

In [16]:
arr[2]=7
arr

array([1, 2, 7, 5])

In [17]:
arr[-1]

5

In [19]:
arr[:-1]

array([1, 2, 7])

In [20]:
arr1[:,3:].shape

(3, 2)

In [21]:
arr1

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [3, 4, 5, 6, 7]])

In [22]:
arr

array([1, 2, 7, 5])

In [24]:
arr1[:,1]

array([2, 3, 4])

In [25]:
#eda
arr

array([1, 2, 7, 5])

In [29]:
arr[arr<6]

array([1, 2, 5])

In [32]:
#mechanism to create an array
np.arange(1,20,2).reshape(2,5)

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19]])

In [61]:
np.arange(1,20,2).reshape(2,5,1)

array([[[ 1],
        [ 3],
        [ 5],
        [ 7],
        [ 9]],

       [[11],
        [13],
        [15],
        [17],
        [19]]])

In [37]:
arr1*arr1

array([[ 1,  4,  9, 16, 25],
       [ 4,  9, 16, 25, 36],
       [ 9, 16, 25, 36, 49]])

In [40]:
np.ones((5,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [46]:
np.random.randint(10,50,9).reshape(3,3)

array([[35, 11, 27],
       [47, 31, 34],
       [36, 35, 21]])

In [47]:
np.random.randint(10,50,9)

array([46, 15, 38, 31, 21, 17, 14, 16, 19])

In [48]:
np.random.randn(5,6)

array([[-0.37092992,  0.4215405 , -2.60800356,  1.27828537,  0.13242296,
        -0.93755134],
       [-0.28180162, -0.46759531,  0.21304218, -1.10695584,  0.66554401,
        -0.72653813],
       [ 0.32094211, -0.68459436,  0.05289847, -2.14886986, -2.04882402,
        -0.34115632],
       [ 0.50587198,  0.25675902, -0.03422502, -0.71012836, -1.1562498 ,
         1.09901023],
       [ 0.02850562, -1.38023566,  0.04522043, -0.16769713,  0.95055981,
         0.96963301]])

In [56]:
np.random.random_sample()

0.16302945445798434

In [59]:
#tutorial 09
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ritesh\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [62]:
np.arange(0,20).reshape(4,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [64]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["column1","column2","column3","column4"])

In [65]:
df

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [66]:
#by defaut top 5
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [67]:
#bottom of lowest 5
df.tail()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [68]:
type(df)

pandas.core.frame.DataFrame

In [69]:
df.info

<bound method DataFrame.info of       column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19>

In [70]:
df.describe()

         column1    column2    column3    column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [71]:
#indexing 
#columnname,rowindex[loc],rowindex columnindwx number[iloc]
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [72]:
#columnname
type(df["column1"])

pandas.core.series.Series

In [74]:
df[['column1','column2','column3']]

      column1  column2  column3
Row1        0        1        2
Row2        4        5        6
Row3        8        9       10
Row4       12       13       14
Row5       16       17       18

In [75]:
df[['column4','column1','column3']]

      column4  column1  column3
Row1        3        0        2
Row2        7        4        6
Row3       11        8       10
Row4       15       12       14
Row5       19       16       18

In [76]:
#using row index name loc
df.loc[['Row3','Row4']]

      column1  column2  column3  column4
Row3        8        9       10       11
Row4       12       13       14       15

In [79]:
 df.loc[['Row3','Row4'],['column4','column1']]

      column4  column1
Row3       11        8
Row4       15       12

In [80]:
df.iloc[2:4,0:2]

      column1  column2
Row3        8        9
Row4       12       13

In [81]:
df.iloc[2:,1:]

      column2  column3  column4
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [82]:
#convert datafframe into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [84]:
df.isnull()

      column1  column2  column3  column4
Row1    False    False    False    False
Row2    False    False    False    False
Row3    False    False    False    False
Row4    False    False    False    False
Row5    False    False    False    False

In [85]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [87]:
df=pd.DataFrame(data=[[1,np.nan,2],[1,3,4]],index=['Row1','Row2'],columns=['column1','column2','column3'])

In [88]:
df

      column1  column2  column3
Row1        1      NaN        2
Row2        1      3.0        4

In [89]:
df.isnull

<bound method DataFrame.isnull of       column1  column2  column3
Row1        1      NaN        2
Row2        1      3.0        4>

In [91]:
df.isnull().sum()

column1    0
column2    1
column3    0
dtype: int64

In [93]:
df[~df.isnull()]

      column1  column2  column3
Row1        1      NaN        2
Row2        1      3.0        4

In [94]:
df.isnull().sum()==0

column1     True
column2    False
column3     True
dtype: bool

In [95]:
df['column3'].value_counts()

column3
2    1
4    1
Name: count, dtype: int64

In [98]:
df['column1'].unique()

array([1], dtype=int64)

In [100]:
df[df['column3']>2]

      column1  column2  column3
Row2        1      3.0        4

In [108]:
#tutorial :-10
from  io import StringIO

In [105]:
!pip install StringIO

ERROR: Could not find a version that satisfies the requirement StringIO (from versions: none)
ERROR: No matching distribution found for StringIO

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [107]:
print('h')

h

In [115]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Ritesh\Downloads\mercedesbenz.csv")
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [116]:
df.head(11)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0

In [117]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [118]:
type(df)

pandas.core.frame.DataFrame

In [120]:
data=('col1,col2,col3\n'
      'x,y,1\n'
      'a,b,2\n'
      'c,d,3')

In [121]:
data

'col1,col2,col3\nx,y,1\na,b,2\nc,d,3'

In [124]:
 type(data)

str

In [125]:
StringIO(data)

In [126]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [127]:
pd.read_csv(StringIO(data),usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [129]:
pd.read_csv(StringIO(data),usecols=['col1','col2','col3'])

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [130]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Ritesh\Downloads\mercedesbenz.csv", usecols=['X0','X1','X2','X4','X5'])

In [131]:
df.head()

   X0 X1  X2 X4 X5
0   k  v  at  d  u
1   k  t  av  d  y
2  az  w   n  d  x
3  az  t   n  d  x
4  az  v   n  d  h

In [132]:
df.to_csv('test.csv',index=False)

In [133]:
#datatype in csv
data=('a,b,c,d\n'
     '1,2,3,4\n'
     '5,6,7,8\n'
     '9,10,11')

In [138]:
pd.read_csv(StringIO(data))

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [137]:
df

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [139]:
df.info

<bound method DataFrame.info of    a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN>

In [141]:
df=pd.read_csv(StringIO(data),dtype='object')

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [144]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [145]:
df['a'][0]

'1'

In [146]:
#datatype in csv
data=('a,b,c,d\n'
     '1,2,3,4\n'
     '5,6,7,8\n'
     '9,10,11')

In [147]:
df=pd.read_csv(StringIO(data),dtype={'a':int, 'b':float, 'c':int})

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      float64
 2   c       3 non-null      int32
 3   d       2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 204.0 bytes

In [150]:
df.dtypes

a      int32
b    float64
c      int32
d    float64
dtype: object

In [151]:
data=('index,a,b,c\n'
     '4,apple,bat,5.7\n'
     '8,orange,cow,10')

In [152]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [154]:
data

'index,a,b,c\n4,apple,bat,5.7\n8,orange,cow,10'

In [155]:
print(data)

index,a,b,c
4,apple,bat,5.7
8,orange,cow,10